$tabletViewportWidth: 48em; // 768px

.img-container {
    position: relative;
    text-align: center;
    color: white;
    max-width: 850px;
    max-height: 638px;
}

.number-ovverlay {
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: indianred;
    cursor: pointer;
}

.sud {
    top: 82%;
    left: 21%;
}

.grand-anse {
    top: 60%;
    left: 5%;
}

.sud-est {
    top: 83%;
    left: 61%;
}

.nippes {
    top: 65%;
    left: 36%;
}

.ouest {
    top: 64%;
    left: 68%;
}

.centre {
    top: 44%;
    left: 79%;
}

.artibonite {
    top: 34%;
    left: 62%;
}

.nord-est {
    top: 20%;
    left: 84%;
}

.nord {
    top: 11%;
    left: 69%;
}

.nord-ouest {
    top: 3%;
    left: 43%;
}

@media screen and(min-width: $tabletViewportWidth) {
    .sud {
        top: 81%;
        left: 29%;
    }

    .grand-anse {
        top: 70%;
        left: 22%;
    }

    .sud-est {
        top: 83%;
        left: 61%;
    }

    .nippes {
        top: 72%;
        left: 39%;
    }

    .ouest {
        top: 69%;
        left: 69%;
    }

    .centre {
        top: 49%;
        left: 72%;
    }

    .artibonite {
        top: 34%;
        left: 62%;
    }

    .nord-est {
        top: 26%;
        left: 75%;
    }

    .nord {
        top: 18%;
        left: 65%;
    }

    .nord-ouest {
        top: 12%;
        left: 47%;
    }
}
