<app-header-three></app-header-three>

<section class="hero-banner">
    <div class="container">
        <div class="hero-banner-content">
            <h1>Chif sou Kowona viris</h1>
            <div class="banner-box-list">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon5.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="347">00</h3>
                            <p>Total Tès</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon6.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="33">00</h3>
                            <p>Ka Konfime</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon7.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="3">00</h3>
                            <p>Moun ki mouri</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon8.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="0">00</h3>
                            <p>Moun ki geri</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/haiti-map.png" alt="image">
        </div>
    </div>
</section>

<section class="symptoms-section bg-white-color pb-100" id="sentom">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Sentom</span>
            <h2>Sentòm Kowona Viris</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="symptoms-box-list">
                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon1.png" alt="image">
                        </div>
                        <h3>Touse Anpil</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon2.png" alt="image">
                        </div>
                        <h3>Gwo Maltèt</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon3.png" alt="image">
                        </div>
                        <h3>Trouble (Konfizyon)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="symptoms-img">
                    <img src="assets/img/symptoms-img2.png" alt="image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="symptoms-box-list">
                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon4.png" alt="image">
                        </div>
                        <h3>Lafyèv cho</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon5.png" alt="image">
                        </div>
                        <h3>Souf Kout</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon6.png" alt="image">
                        </div>
                        <h3>Gòj Fè Mal</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="symptoms-shape1"><img src="assets/img/symptoms-shape1.png" alt="image"></div>
    <div class="symptoms-shape2"><img src="assets/img/symptoms-shape2.png" alt="image"></div>
</section>

<section class="about-section pt-100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/img/about-img3.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Covid-19</span>
                    <h2>Konsènan Maladi Kowona virus</h2>
                    <p>Nan fen lane 2019, Sant pou Kontwòl ak Prevansyon Maladi (CDC) te kòmanse kontwole epidemi yon
                        nouvo kowaviris, SARS-CoV-2, ki lakòz maladi respiratwa a ke yo rele koulye a COVID-19. Otorite
                        yo te idantifye premye viris la nan Wuhan, Lachin.</p>
                    <p>Plis pase 1.6 milyon moun gentan kontrakte viris la atravè Lemond. Otorite lasante peyi a te
                        idantifye premye moun ki gen COVID-19 (Kowona) nan dat 19 Mas 2020.</p>
                    <blockquote>
                        <p>Prezidan Jovenel Moise deklare yon eta dijans sou tout peyi a kont epidemi Kowona viris la.
                            Apati 20 Mas 2020 Lekòl yo, inivèsite yo, kote pou adore ak pak endistriyèl yo sipoze fèmen
                            jiska nouvèlòd.</p>
                    </blockquote>
                    <p>Daprè CDC, moun ki gen COVID-19 fè konnen ke yo gen maladi repiratwa ki soti nan nivo piti rive
                        nan nivo grav. Sentom yo ka parèt 2 a 14 jou apre moun moun nan te ekspoze, sa gen ladan li
                        lafyèv, tous ak souf kout. Rele medsen ou si ou ta devlope sentome epi si ou te pase pre yon
                        moun ou konnen ki gen maladi a, oswa si
                        ou fenk sot vwayaje nan zòn kote maladi epapiye oswa kote maldi kontinye ap epapiye nan kominote
                        an. </p>

                    <a routerLink="/about-two" class="default-btn"><i class="flaticon-open-book"></i> Plis
                        Enfòmasyon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape1"><img src="assets/img/about-shape2.png" alt="image"></div>
</section>

<section class="spread-virus-area pt-100 pb-100" id="pwopaje">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="spread-virus-content">
                    <span class="sub-title">Pwopaje</span>
                    <h2>Fason Kowona viris (Covid-19) la pwopaje</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                        maecenas accumsan lacus vel facilisis.</p>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon1.png" alt="image">
                            </div>
                            <h3>Moun ak Moun</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon2.png" alt="image">
                            </div>
                            <h3>Nan Lè nap respire</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon3.png" alt="image">
                            </div>
                            <h3>Bagay ki kontamine</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="spread-virus-image">
                    <img src="assets/img/spread-virus/spread-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="spread-shape3"><img src="assets/img/spread-virus/spread-shape.png" alt="image"></div>
</section>

<section class="prevention-area pt-100 pb-70" id="prevantyon">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Prevantyon</span>
            <h2>Fason Pou Ou Pwoteje Tèt Ou</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>Bagay Ou Dwe Fè</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon1.png" alt="image">
                            </div>
                            <h3>Lave Men Ou Pou 20 Segonn</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon2.png" alt="image">
                            </div>
                            <h3>Toujou Mete Mas Nan Figi Ou</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon3.png" alt="image">
                            </div>
                            <h3>Netwaye Ak Dezenfekte</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon4.png" alt="image">
                            </div>
                            <h3>Kouvri Bouch Ou Lè Ou Etènye</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>Bagay Ou Pa Dwe Fè</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon5.png" alt="image">
                            </div>
                            <h3>Evite Kote Ki Gen Anpil Moun</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon6.png" alt="image">
                            </div>
                            <h3>Pa Bay Moun Lanmen</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon7.png" alt="image">
                            </div>
                            <h3>Pa Manyen Figi Ou</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon8.png" alt="image">
                            </div>
                            <h3>Evite Vwayaje</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="prevention-shape1"><img src="assets/img/prevention-shape1.png" alt="image"></div>
    <div class="prevention-shape2"><img src="assets/img/prevention-shape2.png" alt="image"></div>
    <div class="prevention-shape3"><img src="assets/img/prevention-shape3.png" alt="image"></div>
    <div class="prevention-shape4"><img src="assets/img/prevention-shape4.png" alt="image"></div>
</section>

<section class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Faq's</span>
            <h2>Frequently Asked & Questions</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                What is the source of the virus?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                How does the virus spread?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Who has had COVID-19 spread the illness to others?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Will warm weather stop the outbreak of COVID-19?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                What is community spread?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" id="accordionExTwo" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSix">
                            <a data-toggle="collapse" data-parent="#accordionExTwo" href="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                What is coronavirus?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseSix" class="collapse show" role="tabpanel" aria-labelledby="headingSix"
                            data-parent="#accordionExTwo">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingSeven">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionExTwo"
                                href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                What is COVID-19?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven"
                            data-parent="#accordionExTwo">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingEight">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionExTwo"
                                href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                What are the symptoms of COVID-19?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight"
                            data-parent="#accordionExTwo">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingNine">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionExTwo"
                                href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                What should I do if I feel sick?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine"
                            data-parent="#accordionExTwo">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTen">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionExTwo"
                                href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                If a loved one gets sick, how can I care for them?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen"
                            data-parent="#accordionExTwo">
                            <div class="card-body">
                                <p>Coronaviruses are a large family of viruses. Some cause illness in people, and
                                    others, such as canine and feline coronaviruses, only infect animals. Rarely, animal
                                    coronaviruses that infect animals have emerged to infect people and can spread
                                    between people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-shape1"><img src="assets/img/faq-shape1.png" alt="image"></div>
    <div class="faq-shape2"><img src="assets/img/faq-shape2.png" alt="image"></div>
</section>