<app-header-three></app-header-three>

<section class="hero-banner">
    <div class="container">
        <div class="hero-banner-content">
            <h1>Chif sou Kowona viris</h1>
            <div class="banner-box-list">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon5.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="439">00</h3>
                            <p>Total Tès</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon6.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="40">00</h3>
                            <p>Ka Konfime</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon7.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="3">00</h3>
                            <p>Moun ki mouri</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-banner-box">
                            <div class="icon">
                                <img src="assets/img/icon8.png" alt="icon">
                            </div>
                            <h3 class="odometer" data-count="0">00</h3>
                            <p>Moun ki geri</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/haiti-map.png" alt="image">
        </div>
    </div>
</section>

<section class="symptoms-section bg-white-color pb-100" id="sentom">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Sentom</span>
            <h2>Sentòm Kowona Viris</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="symptoms-box-list">
                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon1.png" alt="image">
                        </div>
                        <h3>Touse Anpil</h3>
                        <p>Viris la rann moun touse anpil.</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon2.png" alt="image">
                        </div>
                        <h3>Gwo Maltèt</h3>
                        <p>Maltèt se youn nan sentom viris sa</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon3.png" alt="image">
                        </div>
                        <h3>Trouble (Konfizyon)</h3>
                        <p>Kowonaviris sa bay moun troub oswa tèt vire.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="symptoms-img">
                    <img src="assets/img/symptoms-img2.png" alt="image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="symptoms-box-list">
                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon4.png" alt="image">
                        </div>
                        <h3>Lafyèv cho</h3>
                        <p>Gen moun li bay lafyèv</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon5.png" alt="image">
                        </div>
                        <h3>Souf Kout</h3>
                        <p>Viris la bay moun souf kout</p>
                    </div>

                    <div class="box-item">
                        <div class="img">
                            <img src="assets/img/symptoms-icon6.png" alt="image">
                        </div>
                        <h3>Gòj Fè Mal</h3>
                        <p>Kowona fè goj moun fè yo mal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="symptoms-shape1"><img src="assets/img/symptoms-shape1.png" alt="image"></div>
    <div class="symptoms-shape2"><img src="assets/img/symptoms-shape2.png" alt="image"></div>
</section>

<section class="about-section pt-100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/img/about-img3.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Covid-19</span>
                    <h2>Konsènan Maladi Kowona virus</h2>
                    <p>Nan fen lane 2019, Sant pou Kontwòl ak Prevansyon Maladi (CDC) te kòmanse kontwole epidemi yon
                        nouvo kowaviris, SARS-CoV-2, ki lakòz maladi respiratwa a ke yo rele koulye a COVID-19. Otorite
                        yo te idantifye premye viris la nan Wuhan, Lachin.</p>
                    <p>Plis pase 1.6 milyon moun gentan kontrakte viris la atravè Lemond. Otorite lasante peyi a te
                        idantifye premye moun ki gen COVID-19 (Kowona) nan dat 19 Mas 2020.</p>
                    <blockquote>
                        <p>Prezidan Jovenel Moise deklare yon eta dijans sou tout peyi a kont epidemi Kowona viris la.
                            Apati 20 Mas 2020 Lekòl yo, inivèsite yo, kote pou adore ak pak endistriyèl yo sipoze fèmen
                            jiska nouvèlòd.</p>
                    </blockquote>
                    <p>Daprè CDC, moun ki gen COVID-19 fè konnen ke yo gen maladi repiratwa ki soti nan nivo piti rive
                        nan nivo grav. Sentom yo ka parèt 2 a 14 jou apre moun moun nan te ekspoze, sa gen ladan li
                        lafyèv, tous ak souf kout. Rele medsen ou si ou ta devlope sentome epi si ou te pase pre yon
                        moun ou konnen ki gen maladi a, oswa si
                        ou fenk sot vwayaje nan zòn kote maladi epapiye oswa kote maldi kontinye ap epapiye nan kominote
                        an. </p>

                    <a href="https://www.redcross.org/content/dam/redcross/get-help/pdfs/COVID-19_Checklist_v6_03062020_FINAL_Haitian_Final.pdf"
                        target="_blank" class="default-btn"><i class="flaticon-open-book"></i> Plis
                        Enfòmasyon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape1"><img src="assets/img/about-shape2.png" alt="image"></div>
</section>

<section class="spread-virus-area pt-100 pb-100" id="pwopaje">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="spread-virus-content">
                    <span class="sub-title">Pwopaje</span>
                    <h2>Fason Kowona viris (Covid-19) la pwopaje</h2>
                    <p>Nouvo Kowonaviris sa se yon viris respiratwa ki pwopaje sitou nan ti gout dlo ki pwodwi lè yon
                        moun ki enfekte touse oswa etènye, oswa nan saliv oswa likid ki soti nan nen an.</p>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon1.png" alt="image">
                            </div>
                            <h3>Moun ak Moun</h3>
                            <p>Yon moun ki gen viris la ka ba ou li si ou bay lanmen ak li, anbrase li oubyen siw rete
                                two pre li lè lap etènye oswa touse.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon2.png" alt="image">
                            </div>
                            <h3>Nan Lè nap respire</h3>
                            <p>Sizoka yon moun ki gen viris la etènye oswa touse nan yon espas yon lot moun ki respire
                                lè nan espas sa ka trape viris la si li pa gen pwoteksyon (mas osinon kachnen).</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/spread-virus/icon3.png" alt="image">
                            </div>
                            <h3>Bagay ki kontamine</h3>
                            <p>Menm jan ak lè wap respire, bagay ki nan espas (chèz, telefon, etc.) kote yon moun ki gen
                                viris la ye ka kontamine lè l etènye oswa touse.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="spread-virus-image">
                    <img src="assets/img/spread-virus/spread-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="spread-shape3"><img src="assets/img/spread-virus/spread-shape.png" alt="image"></div>
</section>

<section class="prevention-area pt-100 pb-70" id="prevantyon">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Prevantyon</span>
            <h2>Fason Pou Ou Pwoteje Tèt Ou</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>Bagay Ou Dwe Fè</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon1.png" alt="image">
                            </div>
                            <h3>Lave Men Ou Pou 20 Segonn</h3>
                            <p>Lave men ou souvan avek savon ak dlo pandan omwen 20 sekonn (men valè tan li app pran ou
                                pou chante 'bòn Fèt'
                                de fwa) oswa, si savon pa disponib, itilize dezenfktan pou men ki omwen 60 pousan alkòl
                                ladan.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon2.png" alt="image">
                            </div>
                            <h3>Toujou Mete Mas Nan Figi Ou</h3>
                            <p>Mete mas osinon kachnen nan bouch ou avan ou pran lari. Sonje ke viris la se nan nenw ak
                                nan bouch ou lap pase pou l antre nan sistèm ou.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon3.png" alt="image">
                            </div>
                            <h3>Netwaye Ak Dezenfekte</h3>
                            <p>Itilize flit oswa chifon ke nou konn abitye itilize nan kay la pou netwaye epi dezenfekte
                                espas kote moun touche souvan
                                yo.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon4.png" alt="image">
                            </div>
                            <h3>Kouvri Bouch Ou Lè Ou Etènye</h3>
                            <p>Kouvri bouch ou lè ou ap touse oswa estène nan yon sèvyèt, epi jete li nan poubèl. Si pa
                                gen sèvyèt ki disponib, touse
                                oswa estène nan koud ou, pa fè sa nan men ou.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="prevention-content">
                    <div class="title">
                        <h3>Bagay Ou Pa Dwe Fè</h3>
                    </div>

                    <div class="content-list">
                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon5.png" alt="image">
                            </div>
                            <h3>Evite Kote Ki Gen Anpil Moun</h3>
                            <p>Pou diminye ris pou trape kowonaviris evite kote ki gen anpil moun tankou, lekol, legliz,
                                mache piblik ak tout lot espas kote gwoup moun reyini.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon6.png" alt="image">
                            </div>
                            <h3>Pa Bay Moun Lanmen</h3>
                            <p>Pa bay lanmen, ni anbrase moun. Si posib pa rete twò pre moun lè yap pale ak ou. Sonje ke
                                menm si ou pa santi w gen sentom, ou ka gen viris la nan sistèm ou. Pa bay moun lanmen
                                pou pwoteje tèt ou ak lòt moun.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon7.png" alt="image">
                            </div>
                            <h3>Pa Manyen Figi Ou</h3>
                            <p>Anplis de lave men ou, evite mete men w nan figi ou, espasyalman nan bouch ou ak nan nen
                                ou.</p>
                        </div>

                        <div class="content">
                            <div class="icon">
                                <img src="assets/img/prevention-icon8.png" alt="image">
                            </div>
                            <h3>Evite Vwayaje</h3>
                            <p>Evite tout sòti ki pa obligatwa. Rete lakay ou se pi bon fason pou nou kwape kowonaviris.
                                Si posib, pa monte avyon ak transpò piblik, itilize sèvis livrezon manje ak makèt olye
                                ke ou pran lari a.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="prevention-shape1"><img src="assets/img/prevention-shape1.png" alt="image"></div>
    <div class="prevention-shape2"><img src="assets/img/prevention-shape2.png" alt="image"></div>
    <div class="prevention-shape3"><img src="assets/img/prevention-shape3.png" alt="image"></div>
    <div class="prevention-shape4"><img src="assets/img/prevention-shape4.png" alt="image"></div>
</section>

<section class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Faq's</span>
            <h2>Kesyon Yo Poze Souvan</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                Ki kote viris sa soti?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Sant pou Kontwòl ak Prevansyon Maladi (CDC) te idantifye premye moun ki gen viris la
                                    nan Wuhan, Lachin.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Pa ki fason viris sa pwopaje?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Nouvo Kowonaviris sa se yon viris respiratwa ki pwopaje sitou nan ti gout dlo ki
                                    pwodwi lè yon moun ki enfekte touse oswa etènye, oswa nan saliv oswa likid ki soti
                                    nan nen an.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                Ki kote mwen ka fè tès pou Kowonaviris (COVID-19)?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Pwosesis la ak kote pou fè tès varye de yon kote a yon lòt kote. Si w gen sentom ki
                                    sanble ak Kowonaviri rele nan <a href="tel:43433333">4343-3333</a> pou mande
                                    enfòmasyon sou kijan pou ou jwenn
                                    yon tès.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Konbyen tan kowonaviris la ka viv sou sifas plastik ak metal yo?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Li pa sèten konbyen tan viris ki lakòz COVID-19 kontinye viv sou sifas, men li sanble
                                    konpòte li tankou lòt kowonavirisyo. Etid yo sijere ke kowonaviris (ki gen ladan
                                    enfòmasyon preliminè sou viris COVID-19) ka viv sou sifas pou kèk èdtan oswa jiska
                                    plizyè jou.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Èske tanperati cho ap sispann epidemi COVID-19?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Chèchè yo remake ke transmisyon nouvo kowonaviris sa pi wo nan klima ki pi fre. Men
                                    pako gen okenn rechèch ofisyèl ki mountre ke klima ki fè cho yo gen mwens ka
                                    kowonaviris.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Kisa sa vle di yon nouvo kowonaviris?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Yon nouvo kowonaviris se yon kowonaviris ki pa te deja idantifye. Viris ki lakòz
                                    maladi kowonaviris 2019 (COVID-19), se pa menm jan ak lot kowonaviris yo ki souvan
                                    sikile nan mitan moun epi ki lakòz maladi senp, tankou lafyèv komen.
                                    Yon dyagnostik ak kowonaviris 229E, NL63, OC43, oswa HKU1 se pa menm ak yon
                                    dyagnostik COVID-19. Pasyan ki gen COVID-19 yo pral evalye ak pran swen pou yon
                                    fason diferan pase pasyan ki gen dyagnostik kowonaviris avan yo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-shape1"><img src="assets/img/faq-shape1.png" alt="image"></div>
    <div class="faq-shape2"><img src="assets/img/faq-shape2.png" alt="image"></div>
</section>